@import "nib/vendor"
@import "nib/gradients"
vendor-prefixes = o ms moz webkit papitas official

body
	background white
	font-size 16px
	margin 0 auto
	//text-align center
	width 800px
.Container
	background linear-gradient(top, #f04422, #dede6d, #9ff283) no-repeat
	//text-align center
	height 1000px
	padding 1em
	margin 0 auto

.center-block
	//margin 0 auto
.btn
	background red
	padding .5em .8em
	margin 0 2em
	border 2px solid orange
	color black
	font-weight: bold;
	border-radius 8px
	text-transform uppercase
	transition 1s background 
	&:hover
		background gray
		cursor crosshair
	&.yellow
		background yellow
		&:hover
			background gray
			cursor pointer
	&.green
		background green
		&:hover
			background gray
			cursor help
.geo
	background black
	//margin-top 40px
	height 800px
	width 800px
	//margin 0 auto
	text-align center
	
	.texto
		//display inline-block
		//text-align center
		background white
		height 100px
		width 100px
		//margin 0 auto

				
